{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'mresults/main_style.css' %}" />

{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{%  url 'mresults:index' %}">{{ question }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No questions are available.</p>
{% endif %}